# Functions

#### Warm up

In [134]:
bands = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

In [135]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [136]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

## Functions

##### User-Defined vs. Built-In Function

In [2]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [ ]:
# D.R.Y. principle
# Dont Repeat Yourself!

In [5]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello(): # Defining the function
    print('Hello!')
    
print(say_hello)
say_hello

<function say_hello at 0x000002B63365C8B0>

In [6]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [10]:
# Executing a function
# Syntax: function_name()

print('Before the function execution')
say_hello() # executing the function - don't forget the ()
print('After the function execution')

Before the function execution
Hello!
After the function execution

##### Accepting Parameters

In [17]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>

def say_hello(first, last): # <- first and last are parameters (aka placeholders)
    print(f"Hello {first} {last}")
    
# Execute
# Syntax: function_name(data1, data2)
say_hello('Brian', 'Stanton') # <- 'Brian' and 'Stanton' are arguments (aka real data)
say_hello('Stanton', 'Brian') # POSITION MATTERS!

Hello Brian Stanton
Hello Stanton Brian

In [21]:
# say_hello('Brian')

##### Passing in variables as arguments

In [24]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02215'
city2 = 'New York'
state2 = 'NY'
zip_code2 = '10451'

# City, State - ZipCode

def format_address(city, state, zip_code):
    print(f"{city}, {state} - {zip_code}")
    

format_address('Chicago', 'IL', '60606')
format_address(city1, state1, zip_code1)
format_address(city2, state2, zip_code2)

Chicago, IL - 60606
Boston, MA - 02215
New York, NY - 10451

In [26]:
def set_up_mail(first_name, last_name, address, city, state, zip_code):
    print(f"""
    {first_name.title()} {last_name.title()}
    {address.title()}
    {city.title()}, {state.upper()}, {zip_code}
    """)
    
first = input('What is your first name? ')
last = input('What is your last name? ')
address = input('What is your address? ')
city = input('In which city do you live? ')
state = input('In which state do you live? ')
zip_code = input('What is your zip code? ')

set_up_mail(first, last, address, city, state, zip_code)

What is your first name? brian
What is your last name? stanton
What is your address? 123 real street
In which city do you live? chicago
In which state do you live? il
What is your zip code? 60606

    Brian Stanton
    123 Real Street
    Chicago, IL, 60606

##### Keyword Arguments

In [28]:
def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have made a payment of ${amount_paid} to Account #{account_number}")
    print(f"Your new balance is ${new_total}")
    print("Thank you for your payment!")
    
    
make_a_payment(1000, 100, '8947489589')

You have made a payment of $100 to Account #8947489589
Your new balance is $900
Thank you for your payment!

In [31]:
make_a_payment(account_number='395894385', total_amount_due=2000, amount_paid=200)

You have made a payment of $200 to Account #395894385
Your new balance is $1800
Thank you for your payment!

In [32]:
make_a_payment(10000, account_number='32425345', amount_paid=1244)

You have made a payment of $1244 to Account #32425345
Your new balance is $8756
Thank you for your payment!

In [36]:
# make_a_payment(account_number='23435345', 10000, 324) # positional arguments must come before keyword arguments

##### Default Parameters

In [53]:
# default parameter need to be AFTER non-default parameters at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=''):
    total_price = 4.50
    message = f'Thank you {customer_name}. Here is your receipt:\n'
    message += '1 Hamburger\n'
    if cheese:
        message += '\twith cheese\n'
    if lettuce:
        message += '\twith lettuce\n'
    if tomato:
        message += '\twith tomato\n'
    if onions:
        message += f'\twith {onions} onions\n'
        total_price += .50 # total_price = total_price + .50
    message += f'Total: ${total_price:.2f}'
    print(message)
    
    
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [54]:
make_a_burger('Claire', False, True, False)

Thank you Claire. Here is your receipt:
1 Hamburger
	with lettuce
Total: $4.50

In [55]:
make_a_burger('David', onions='grilled')

Thank you David. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
Total: $5.00

##### \*args and **kwargs

In [56]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [69]:
def my_function(arg1, *args, **kwargs):
    print(arg1)
    print(args)
    print(type(args))
    print(kwargs)
    print(type(kwargs))
    
my_function('a', 'b', 'c', 'd', 'e', 'f', key='value', num=10)

a
('b', 'c', 'd', 'e', 'f')
<class 'tuple'>
{'key': 'value', 'num': 10}
<class 'dict'>

In [63]:
max(23, 435, 657, 234, 456, 8, 2345, 2344, 46, 345)

2345

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [71]:
cars = [('blue', 'toyota', 'tundra'), ('green', 'chevy', 'silverado'), ('pink', 'ford', 'f-150')]

def format_car(color, make, model):
    print(f"{color.title()} {make.title()} {model.title()}")
    
    
format_car('green', 'ford', 'focus')

Green Ford Focus

In [74]:
for c in cars:
    format_car(c[0], c[1], c[2])

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [75]:
car = ('green', 'ford', 'focus')

car, make, model = car

print(car)
print(make)
print(model)

green
ford
focus

In [80]:
for color, make, model in cars:
    format_car(color, make, model)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [81]:
for x in enumerate(cars):
    print(x)

(0, ('blue', 'toyota', 'tundra'))
(1, ('green', 'chevy', 'silverado'))
(2, ('pink', 'ford', 'f-150'))

In [87]:
def format_car2(*args):
    output_string = ''
    print(args)
    for arg in args:
        if isinstance(arg, int):
            output_string += str(arg)
        else:
            output_string += arg.title() + ' '
    print(output_string)
       
format_car2('blue', 'chevy', 'tahoe', '4-wheels', 32534)

('blue', 'chevy', 'tahoe', '4-wheels', 32534)
Blue Chevy Tahoe 4-Wheels 32534

In [92]:
def my_func(param1, param2, **kwargs):
    print(param1, param2)
    print(kwargs)
    
# print(param1)
    
my_func(param2 = 'argument 1', param1 = 'argument 2', random_arg_name='random arg value')

argument 2 argument 1
{'random_arg_name': 'random arg value'}

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [99]:
student = 'Little Joe' # Globally-scoped variables
teacher = 'Ms. Buttercup' # Global

def assign_student(student_name):
    student = 'Average Jack'
    print(student)
    print(f"{student_name} has been assigned to {teacher}'s class")

assign_student("Big Mike")
# print(student_name) # NameError: name 'student_name' is not defined
print(student)

Average Jack
Big Mike has been assigned to Ms. Buttercup's class
Little Joe

##### Returning Values

In [100]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

my_list = [45, 234, 7, 32, 67, 17, 436, 325]
max_in_a_list = max(my_list)
print(max_in_a_list)

436

In [108]:
def f(x):
    return 2 * x

y = f(6)
print(y)

12

In [109]:
y ** 2

144

In [115]:
# Return will also immediately terminate the function
def early_return(n):
    for i in range(n):
        return i
    
value = early_return(20)
print(value)

0

In [117]:
def early_return_again(n):
    for i in range(10,n):
        return i
    print('Hello I am after the loop')
    
value_again = early_return_again(20)
print(value_again)

10

In [121]:
names = ['Frank', 'Jack', 'Connor', 'Mike', 'Dan', 'Bill']

def stop_at_connor(a_list):
    for element in a_list:
        if element == 'Connor':
            return element
        else:
            print(f'{element} is not Connor')
            
stop_at_connor(names)

Frank is not Connor
Jack is not Connor

'Connor'

#### Multiple returns in a function

In [126]:
def can_vote(birth_year):
    if 2022 - birth_year >= 18:
        return True
    return False
    
print(can_vote(2000))
# print(can_vote(2010))

True

##### Difference between `return` and `print`

In [130]:
def format_clean_headline_print(headline):
    print(headline.strip().title() + "!")

def format_clean_headline_return(headline):
    return headline.strip().title() + "!"

def publish_article(headline, author, body):
    clean_headline = format_clean_headline_print(headline)
    print(f"""
    {clean_headline}
    By: {author}
    {body}
    """)
    
    
publish_article('        i lOVe pYThoN    ', 'Brian', 'I love learning about Python, especially user defined functions!')

I Love Python!

    None
    By: Brian
    I love learning about Python, especially user defined functions!

#### Functions with Lists

In [150]:
def clean_band_names(list_of_bands):
    cleaned_bands = []
    for band in list_of_bands:
        clean_name = band.strip('., ').title()
        cleaned_bands.append(clean_name)
    return cleaned_bands

clean_band_names

In [151]:
print(bands)
print(bands2)

['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']
[' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

In [152]:
cleaned_bands = clean_band_names(bands)
print(cleaned_bands)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [153]:
cleaned_bands2 = clean_band_names(bands2)
print(cleaned_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

In [154]:
def clean_bands(dirty_bands):
    return [band.strip('., ').title() for band in dirty_bands]

cleaned = clean_bands(['   .,fleetwood mac....', '....,, lynard skynard,   ', ',.ThE MOnkEes ,'])
print(cleaned)

['Fleetwood Mac', 'Lynard Skynard', 'The Monkees']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [159]:
european_cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]


def cities_in_country(cities, country_name):
    # create an empty list for storing cities in country
    output = []
    # loop through all of the tuples in cities
    for city, country in cities:
        # if the country in the tuple (1-index) is equal to the country name
        if country == country_name:
            # add the city in the tuple (0-index) to the output list
            output.append(city)
    # Once we have looped through all cities, return output list
    return output


italian_cities = cities_in_country(european_cities, 'Italy')
print(italian_cities) # ['Rome', 'Florence']

spanish_cities = cities_in_country(european_cities, 'Spain')
print(spanish_cities) # ['Barcelona', 'Madrid']

['Rome', 'Florence']
['Barcelona', 'Madrid']

In [160]:
def get_cities_from_country(cities, country_name):
    return [city for city, country in cities if country == country_name]

italian_cities = get_cities_from_country(european_cities, 'Italy')
print(italian_cities) # ['Rome', 'Florence']

spanish_cities = get_cities_from_country(european_cities, 'Spain')
print(spanish_cities) # ['Barcelona', 'Madrid']

['Rome', 'Florence']
['Barcelona', 'Madrid']

#### Docstrings

In [161]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [162]:
help(get_cities_from_country)

Help on function get_cities_from_country in module __main__:

get_cities_from_country(cities, country_name)

In [168]:
def add_nums(num1, num2):
    """
    add_nums takes in two arguments (num1 and num2) and adds the two together. This function was intended specifically
    with numeric values.
    num1 -> int or float
    num2 -> int or float
    return int or float
    """
    return num1 + num2

val = add_nums(10,20)
print(val)

30

In [169]:
help(add_nums)

Help on function add_nums in module __main__:

add_nums(num1, num2)
    add_nums takes in two arguments (num1 and num2) and adds the two together. This function was intended specifically
    with numeric values.
    num1 -> int or float
    num2 -> int or float
    return int or float

#### Whiteboard Approach

1. What are the input(s)?
2. What are the output(s)?
3. Consider constraints and edge cases
4. Write out steps logically (No python)
5. Pseudocode
6. Code

#### Whiteboard Example

Find Even numbers<br>
Create a function that, given a list as a parameter, finds the even numbers <br>
inside the list. The function should then return a list.<br>
Bonus: Use a list comprehension to find your solution<br>
Example:<br>
Input: [2, 7, 10, 11, 12]<br>
Output: [2, 10, 12]<br>

In [170]:
# 1. Input(s): List[int]
# 2. Output(s): List[int] -> all ints in the list should be even
# 3. If input is empty or has no evens, return an empty list. Can assume all integers between -100 and 100

# 4. Start at the beginning of the list, check each number to see if it is even (aka divisible by 2), if the number
# is even, add the even number to our output list, if the number is odd, move on to next number. Once finished going
# through the entire list, return the output list of only evens

# 5. 
# define our function with one parameter (list of integers)
    # create an empty list to be our output list
    
    # for loop trough each number in the list of integers
    
        # Check to see if the integer is divisible by 2 (remainder of 0 %)
        
            # if yes, append number to output list
        
        # if not, do nothing
        
    # once for loop finished, return output list
    
# Call/Execute the function with test argument


# 6.
def get_even_nums(list_of_nums):
    even_nums = []
    for num in list_of_nums:
        if num % 2 == 0:
            even_nums.append(num)
    return even_nums


get_even_nums([2,7,10,11,12])

[2, 10, 12]

In [174]:
all_nums = [1, 3, 5, 7, 9]
even_nums = get_even_nums(all_nums)
print(even_nums)

[]